<div class="modal fade" id="fileErrorModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white border-secondary">
      <div class="modal-header border-secondary">
        <h5 class="modal-title">Invalid File(s) Detected</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="fileErrorBody">
        <!-- Error messages will be inserted here -->
      </div>
      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>